/*
* COLORS:
* white: #fbf8f2
* pink: #b751a0
* purple: #450837
* dark purple: #21031a
*/

/*
* LAYOUT
*/
	#header{
		height: 94px;
	}
			#search-bar{
				width: auto;
				margin: 0px;
			}
				#search-bar input{
					margin: 13px 13px 0px 13px;
					padding: 7px;
					width: 100%;
				}
				.search-bar-category{
					float: left;
					padding: 7px 20px 7px 13px;
				}
			#notifications{
				position: relative;
				float: right;
				margin: 0px 0px 0px 13px;
			}
			.notification{
					height: 94px;
				}
					.notification-logo{
						padding: 32px 15px;
					}
					.notification-counter{
						bottom: 27px;
					}
		#storage_change{
			left: 13px;
			right: 13px;
			top: 120px;
			width: auto;
		}
			#body-loading{
				display: none;
				width: auto;
				padding: 0px 13px;
			}
			#body{
				width: auto;
			}
			#warning-body{
				padding: 0px;
				width: auto;
				display: none;
			}
			#download-body{
				padding: 0px 13px;
				width: auto;
				display: none;
			}

input[type="button"], input[type="submit"]{
	width: 100%;
}

.button{
	margin: 10px 0px;
	width: 100%;
}
.title{
	text-align: center;
}