.oib-slider-pane{
	overflow: hidden;
}
	.slider{
		position: relative;
		overflow: visible;
		float: left;
		margin: 10px;
	}
		.slider-line{
			position: absolute;
			top: 5px;
			bottom: 5px;
			left: 5px;
			right: 5px;
			border: solid 1px #a9a9a9;
			background-color: #ffffff;
		}
		.slider-pin{
			border: solid 1px #a9a9a9;
			position: absolute;
			top: -1px;
			cursor: pointer;
			background-color: #f0f0f0;
			transition: background-color 200ms;
                        text-align: center;
		}
		.slider-pin:hover{
			background-color: #ffffff;
		}
	.oib-slider-label{
		float: right;
		margin: 10px 0px;
	}